/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  color: #6D6D6D;
  background-color: #232429;
  font-size: 16px;
  cursor: e-resize;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  overflow: hidden;
}
body:active {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
html * {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
a {
  color: #6D6D6D;
  text-decoration: none;
}
.arrow {
  cursor: pointer;
}
h1 {
  font-size: 1em!important;
  color: #FFFFFF!important;
  margin-top: 0!important;
}
p,
pre {
  margin: 0!important;
  padding: 0!important;
}
ul {
  margin: 0!important;
  padding: 0!important;
}
a:hover {
  color: #FFFFFF;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
img {
  max-height: 100%;
  max-width: 100%;
}
img.resize {
  height: 100%;
  width: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.lightbg {
  background-color: #38383E;
}
.lighterbg {
  background-color: #919191;
}
.gray {
  background-color: #A6A6A6;
}
.wrapper {
  overflow-x: visible;
  overflow-y: hidden;
  width: 12000px;
  min-height: 650px;
}
.full {
  height: 100%;
  position: relative;
}
.half {
  height: 50%;
  width: 100%;
  position: relative;
}
.w900 {
  width: 830px;
}
.w830 {
  width: 830px;
}
.w450 {
  width: 450px;
}
.box {
  float: left;
}
.textbox {
  padding: 30px;
}
.absolute-left-bottom {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.absolute-left-top {
  position: absolute;
  left: 30px;
  top: 30px;
}
.absolute-right-top {
  position: absolute;
  right: 30px;
  top: 30px;
}
.intro {
  padding: 40px;
}
.intro .ingres {
  width: 370px;
}
.intro .novium {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #3B3B3F;
  font-size: 0.9em;
}
.intro .novium a {
  color: #3B3B3F;
  text-decoration: none;
}
.intro .novium a:hover {
  color: white;
}
.intro nav {
  width: 180px;
}
.intro img {
  margin-top: 90px;
}
.logos .left {
  width: 50%;
}
.logos .left p {
  width: 377px;
}
.logos .right {
  width: 50%;
  text-align: right;
}
.logos .right img {
  margin-top: 45px;
  margin-right: 80px;
}
.logos .bottom {
  margin-top: 100px;
}
.symbols {
  background: url('/img/symbols.png') no-repeat 100% 100%;
}
#monster div {
  width: 245px;
}
#monster div p {
  color: #6F6C88;
}
#customtype div {
  width: 345px;
}
#marke div {
  width: 340px;
}
#marke div p {
  color: #B3B3B3;
}
#redesign div {
  width: 340px;
}
#redesign div p {
  color: #949494;
}
#kontakt {
  padding: 40px;
}
#kontakt span {
  display: block;
}
#kontakt p {
  margin-top: 10px!important;
  margin-bottom: 16px!important;
}
.symboltext {
  width: 320px;
}
.arrow {
  position: fixed;
  padding: 10px;
  width: 37px;
  height: 45px;
  top: 45%;
  z-index: 1500;
  background: #000000 url('/img/arrow-left.png') no-repeat center;
  cursor: pointer;
}
.arrow.right {
  right: 0;
  background-image: url('/img/arrow-right.png');
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.arrow.left {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.map {
  margin-top: 9px;
}
.customer {
  color: #616161;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
